<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product catalog</title>
</head>
<body>
<br>
    <button type="button" onclick="location.href = '/logout';">Logout</button>
</br>

<h1>Registered products:</h1>
<ul>
        {% for product in productsCollection %}
            <li>{{ product.getName }}</li>
            <button type="button" onclick="location.href = '/products/edit/{{product.getName}}';">Edit</button>
            <a href='/products/delete/{{product.getName}}' onclick="return confirm('Are you sure?');">Delete</a>
        {% endfor %}
</ul>
<button type="button" onclick="location.href = '/products/categories';">Add product</button>


<h1>Choose category you want to find records of:</h1>
<form method="post" action="/products/categories/foundByCategory">
    <input type="hidden" name="user" value="{{ user }}">
    {% for category in categoriesCollection %}
    <input type="radio" name="category" value="{{ category.getCategory }}">
    <label>{{ category.getCategory }}</label><br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

<h1>Choose tag you want to find records of:</h1>
    <form method="post" action="/products/categories/foundByTag">
        <input type="hidden" name="user" value="{{ user }}">
        {% for tag in tags %}
        <input type="radio" name="tag_id" value="{{ tag.getTagId }}">
        <label>{{ tag.getTag }}</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>

</body>
</html>